.wrapper{
    width: 160px;
    height: 160px;

    overflow: hidden;

    border-radius: 80px;
    display: flex;
    justify-content: center;

    -webkit-app-region: drag;

    border: 2px solid rgb(53, 70, 145);

    box-shadow: 0 3px 6px rgba(0, 0, 0, .4);
    
}

.wrapper video { 

    height: 160px;
}

.app{
    position: relative;
    padding: 24px;
    width: 204px;
    height: 204px;

    -webkit-app-region: drag;
}
